.master-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.intro-container {
    margin-top: 35em;
    width: 100%;
    background-color: #eeeeee;
    color: black;
    z-index: 2;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3 {
    margin-block-start: .2em;
    margin-block-end: .1em;
}
.intro-text {
    width: 80%;
}

.facts {
    display: flex;
    justify-content: space-evenly;
}

.fact {
    width: 12em;
}

.intro-cards {
    display: flex;
    justify-content: space-around;
}