.master-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main-container {
    margin-top: 20em;
    width: 100%;
    background-color: #ffffff;
    color: black;
    z-index: 2;
    padding-bottom: 1em;
    margin-bottom: 57em;
}

.facts {
    display: flex;
    justify-content: space-between;
}

.intro-cards {
    display: flex;
    flex-wrap: wrap;
}