.App {
  text-align: center;
  height: 100%;
}

.basketball-ball {
  width: 50%;
  position: fixed;
  height: 40vmin;
  pointer-events: none;
}

.basketball-hoop {
  margin-top: 1000px;
  /* position: absolute; */
  /* bottom: 0px; */
  position: absolute;
  height: 100vmin;
  pointer-events: none;
  z-index: -1
}

.basketball-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* position: rela/tive; */
}

@media (prefers-reduced-motion: no-preference) {
  .basketball-ball.active {
    animation: ball-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #26272E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes ball-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
