html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  height: 100%;
}

#basketball-ball {
  position: fixed;
  top: 30%;
  height: 14em;
  z-index: 1;
}

.basketball-rim {
  position: absolute;
  transform: rotate(1.2deg);

  top: 56em;
  height: 10.7em;
  z-index: 1;
}

.basketball-hoop {
  position: absolute;
  height: 30em;
  z-index: 0;
}

.basketball-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-bottom: 100em;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .basketball-ball.active {
    animation: ball-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #26272E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes ball-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
